@import "src/variables.scss";

:host {
    display: block;
    min-width: $sidebar-width;
    font-size: 18px;
    background-color: white;
    box-shadow: 0 0 6px rgb(142, 142, 142);
    height: 100%;
}

:host(.submenu) {
    display: none;
    position: absolute;
    top: 0;
    left: $sidebar-width;
}

.submenuWrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.menuTitle {
    padding: 20px 16px;
    width: 100%;
    color: black;
}

.submenuArrow {
    color: darkgray;
    margin-right: 26px;
}

.submenuWrapper:hover, .submenuWrapper:focus {
    background-color: lightgray;
}

.submenuWrapper:hover > app-catalog-submenu, 
.submenuWrapper:focus > app-catalog-submenu,
.submenuWrapper:focus-within > app-catalog-submenu {
    display: block;
}

.submenuWrapper:hover > .menuTitle, 
.submenuWrapper:focus > .menuTitle,
.submenuWrapper:focus-within > .menuTitle {
    color: $dark-color;
    font-weight: bold;
}

.submenuWrapper:hover > .submenuArrow {
    color: black;
    margin-left: 16px;
    margin-right: 10px;
}