<aside  class="sidebar">
    <div *ngIf="(filtersHandler.categoryData.selectedCategory) as selectedCategory" class="selectedCategory">
        {{selectedCategory.title}}
    </div>
    
    <ul *ngIf="(filtersHandler.categoryData.childCategories) as childCategories" class="subcategories" [hidden]="!childCategories.length">
        <li *ngFor="let category of childCategories">
            <a [routerLink]="['/catalog/category', category.name]">
            {{category.title}}
            </a>
        </li>
    </ul>

    <!-- <app-filters [attributeArrayComplex]="filtersHandler.categoryData.attributeArray"></app-filters> -->
    <app-filters></app-filters>
</aside>

<div class="main-container">
    <app-breadcrumb 
        [categoryChain]="filtersHandler.categoryData.categoryChain" 
        [handler]="filtersHandler.resetFilters.bind(filtersHandler)">
    </app-breadcrumb>


    <div class="modelsCardsContainer">
        <app-model-card *ngFor="let model of filtersHandler.modelsData" [model]="model"></app-model-card>
    </div>

</div>
