<aside  class="sidebar">
    <div *ngIf="(selectedCategory  | async) as selectedCategory" class="selectedCategory">
        {{selectedCategory.title}}
    </div>
    
    <ul *ngIf="(childCategories | async) as childCategories" class="subcategories" [hidden]="childCategories.length == 0">
        <li *ngFor="let category of childCategories">
            <a [routerLink]="['/catalog/category', category.name]">
            {{category.title}}
            </a>
        </li>
    </ul>

    <app-filters *ngIf="attributeArrayComplex | async" [attributeArrayComplex]="attributeArrayComplex"></app-filters>
</aside>

<div class="main-container">
    <div *ngIf="categoryChain" class="breadcrumb">
        <a [routerLink]="['/catalog']" >
            <fa-icon icon="house"></fa-icon>
        </a>
        
        <span *ngFor="let category of categoryChain | async">
            <fa-icon icon="angle-right" size="xs" class="breadcrumb-separator"></fa-icon>
            <a [routerLink]="['/catalog/category', category.name]">{{category.title}}</a>
        </span>
    </div>
    
    
    
    <p>category works!</p>
    <p>category works!</p>
    <p>category works!</p>
    <p>category works!</p>
    <p>category works!</p>
    <p>category works!</p>
    <p>category works!</p>
    <p>category works!</p>
    <p>category works!</p>
    <p>category works!</p>
    <p>category works!</p>
    <p>category works!</p>
    <p>category works!</p>
    <p>category works!</p>
    <p>category works!</p>
    <p>category works!</p>
    <p>category works!</p>
    <p>category works!</p>
    <p>category works!</p>
    <p>category works!</p>

</div>
