<div class="topContainer">
    <app-nav-menu class="topBarNavigation"></app-nav-menu>
    <div class="langSelector">
        <a type="button" (click)="selectLanguage('ru-RU')" [ngClass]="(language == 'ru-RU') ? 'active' : ''" tabindex="0">Рус</a>
        <a type="button" (click)="selectLanguage('uk-UK')" [ngClass]="(language == 'uk-UK') ? 'active' : ''" tabindex="0">Укр</a>
    </div>
</div>
<div class="bottomContainer">
    <a [routerLink]="['/']"><img src="/assets/logo(на сайт)_white.svg" class="logo"></a>
    
    <a mat-flat-button [routerLink]="['/catalog']" class="catalogButton">
        Каталог
        <fa-icon icon="person-hiking"></fa-icon>
    </a>
    
    <ng-container>
        <input class="find" [(ngModel)]="findString">
        <button (click)="onFind()" [disabled]="!findString">
            <fa-icon class="find" icon="magnifying-glass"></fa-icon>
            Find
        </button>
    </ng-container>
    
    <button mat-flat-button class="cabinetIcon" (click)="onCabinetClick()">
        <fa-icon *ngIf="!isAuthorised" icon="user-lock"></fa-icon>
        <fa-icon *ngIf="isAuthorised" icon="user-gear"></fa-icon>
    </button>
    
    <button 
        mat-flat-button 
        class="cartIcon" 
        (click)="onCartClick()"
        >
        <fa-icon icon="cart-shopping" class="cartShopping"></fa-icon>
        <span class="cartTotalCounter" color="accent">{{cartTotalCounter}}</span>
    </button>

    <!-- <button 
        mat-flat-button 
        class="cartIcon" 
        (click)="onCartClick()"
        [matBadge]="cartTotalCounter" matBadgeColor="accent" matBadgeSize="small"
        >
        <fa-icon icon="cart-shopping" class="cartShopping"></fa-icon>
    </button> -->
</div>