<aside  class="sidebar">
    <div class="shaddowing"></div>
    <app-catalog-submenu [parentId]="null"></app-catalog-submenu>
</aside>

<div class="container">
    
    
    <p>catalog works!</p>
    <p>catalog works!</p>
    <p>catalog works!</p>
    <p>catalog works!</p>
    <p>catalog works!</p>
    <p>catalog works!</p>
    <p>catalog works!</p>
    <p>catalog works!</p>
    <p>catalog works!</p>
    <p>catalog works!</p>
    <p>catalog works!</p>
    <p>catalog works!</p>
    <p>catalog works!</p>
    <p>catalog works!</p>
    <p>catalog works!</p>

</div>

