@import "src/variables.scss";

:host {
    display: flex;
}

.sidebar {
    flex-grow: 0;
    flex-shrink: 0;
    width: $sidebar-width;
    position: relative;
}

.shaddowing {
    display: none;
    position: absolute;
    top: 0;
    left: 200px;
    z-index: -1;
    width: calc(100vw - 200px);
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.wrapper:hover .shaddowing {
    display: block;
}

.container {
    padding: 16px;
    height: 100%;
    width: 100%;
}