:host {
    display: block;
    min-width: 200px;
    font-size: 18px;
    background-color: white;
    box-shadow: 0 0 6px rgb(142, 142, 142);
    height: 100%;
}

:host(.submenu) {
    display: none;
    position: absolute;
    top: 0;
    left: 200px;
}

.submenuWrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
}

p {
    padding: 20px 16px;
    width: 100%;
    color: black;
}

.submenuArrow {
    color: darkgray;
    margin-right: 26px;
}

.submenuWrapper:hover {
    background-color: lightgray;
}

.submenuWrapper:hover > app-catalog-submenu {
    display: block;
}

.submenuWrapper:hover > .submenuArrow {
    color: black;
    margin-left: 16px;
    margin-right: 10px;
}