<aside>
    <app-catalog-sidebar></app-catalog-sidebar>
</aside>

<div class="container">
    <p>{{selectedCategory?.title}}</p>

    <!-- <div *ngFor="let item of categories">{{item.id}}</div> -->
    <p>catalog works!</p>
    <p>catalog works!</p>
    <p>catalog works!</p>
    <p>catalog works!</p>
    <p>catalog works!</p>
    <p>catalog works!</p>
    <p>catalog works!</p>
    <p>catalog works!</p>
    <p>catalog works!</p>
    <p>catalog works!</p>
    <p>catalog works!</p>
    <p>catalog works!</p>
    <p>catalog works!</p>
    <p>catalog works!</p>
    <p>catalog works!</p>
    <p>catalog works!</p>
    <p>catalog works!</p>
    <p>catalog works!</p>
    <p>catalog works!</p>
    <p>catalog works!</p>

</div>

