<aside>
    <app-catalog-sidebar></app-catalog-sidebar>
</aside>

<div class="container">
    <p>{{selectedCategory}}</p>
    <p>catalog works!</p>
    <p>catalog works!</p>
    <p>catalog works!</p>
    <p>catalog works!</p>
    <p>catalog works!</p>
    <p>catalog works!</p>
    <p>catalog works!</p>
    <p>catalog works!</p>
    <p>catalog works!</p>
    <p>catalog works!</p>
    <p>catalog works!</p>
    <p>catalog works!</p>
    <p>catalog works!</p>
    <p>catalog works!</p>
    <p>catalog works!</p>
    <p>catalog works!</p>
    <p>catalog works!</p>
    <p>catalog works!</p>
    <p>catalog works!</p>
    <p>catalog works!</p>

</div>

