<div class="flex-container">
    <gallery gallerize 
        [imageSize]="'contain'" 
        [items]="galleryImages" 
        [thumbWidth]="90" 
        [thumbHeight]="60" 
        [counterPosition]="'bottom'" 
        class="gallery">
    </gallery>

    <div>
        <app-breadcrumb [categoryChain]="modelData.categoryChain"></app-breadcrumb>

        <p class="title">
            {{modelData.model?.title}}
        </p>

        <p class="vendor">
            Артикул: {{modelData.model?.vendor}}
        </p>

        <p class="availability" [class.unavailable]="!modelData.model?.availability">
            {{availabilityTitle}}
        </p>

        <p class="price" [class.unavailable]="!modelData.model?.availability">
            {{modelData.model?.price | currency:"UAH":"грн":"1.2":"uk"}}
        </p>

        <p class="description">{{modelData.model?.description}}</p>


        <button 
            mat-flat-button
            color="primary"
            class="buyButton" 
            (click)="onBuy()"
            [disabled]="!modelData.model?.availability">
            Купити
        </button>

        <button
            *ngIf="!modelData.model?.availability"
            mat-button
            color="primary"
            class="favoritesButton" 
            (click)="onFavorites()">
            <fa-icon class="favorites" [icon]="['far', 'heart']" ></fa-icon>
        </button>

        <div class="separator"></div>

        <div class="specification">
            <p class="specification-title">Характеристики</p>
            <div *ngFor="let char of modelData.model?.values; odd as isOdd" class="specification-row">
                <span>{{char.attribute.title}}:</span>
                <span>{{char.value}}</span>
            </div>
        </div>
    </div>

</div>



