/* You can add global styles to this file, and also import other style files */
@import "normalize v8.0.1 by Nicolas Gallagher.css";
// @import "reset by Elad Shechter v1.7.3.scss";
@import "reset.scss";

.custom-slider .ngx-slider {
    .ngx-slider-pointer {
        width: 22px;
        height: 22px;
        top: -10px; 
        border-radius: 50%;
    }
    .ngx-slider-pointer:after {
        top: 7px;
        left: 7px;
    }
    .ngx-slider-bubble {
        font-size: 14px;
        
    }
    .ngx-slider.limit {
        display: none;
        color: red;
    }
}