:root {
	// --main-color: #00a6eb;
	// --border-gray: #bbb;
	// --text-gray: #999;
	// --fill-gray: #eee;
    // --dark-color: #000050;
    // --dark-color-hover: #7070f0;
    // --sidebar-width: 250px;
}

$light-color: #00a6eb;
$dark-color: hsl(240, 100%, 16%);
$dark-color-hover: hsl(240, 100%, 66%);
$sidebar-width: 250px;
$light-gray: #bbb;
$dark-gray: #999;
