<!-- <app-nav-menu *ngIf="currentPage != ''" class="sideBarNavigation"></app-nav-menu> -->
<!-- <aside>
    <app-nav-menu class="sideBarNavigation"></app-nav-menu>
</aside> -->

<div class="container">
    БайдаЁЖ – в первую очередь, это команда, команда настоящих друзей! 
    Мы увлекаемся туризмом, любим сплавы, походы и восхождения. 
    Поэтому готовы искренне поделиться с вами тем, что по душе нам самим!

    Планируя поход самостоятельно, нужно учитывать много мелочей. Это часто непросто. 
    Поэтому в походе с нами вам не придется думать ни о чем, кроме того, 
    как получать удовольствие от путешествия. Мы о вас позаботимся – предоставим 
    все необходимое снаряжение, вкусно и сытно накормим, научим управлять байдаркой 
    и поможем окунуться в прелести походной жизни!
    
    Мы приглашаем новичков и любителей, участников и корпоративные группы 
    от 25 человек – всех, кто хочет отправиться на байдарочный сплав и по достоинству 
    оценить все преимущества водного туризма!
</div>